
@font-face {
  font-family: "mongolian-baiti-regular";
  src: url("../includes/monbaiti.ttf");}
@font-face {
  font-family: "Gabriola";
  src: url("../includes/Gabriola.ttf");}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
/*  font-family: 'Montserrat', sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');
/*  font-family: 'Raleway', sans-serif;  */

*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

body, header{
	width: 100%;
	padding: 0;
	margin: auto;
	background-color: #fff;
	font-family: 'Gabriola', sans-serif;
	color: #856666;}

p{
	font-size: 1.5em;}

h1, h2, h3{
	font-family: "mongolian-baiti-regular", sans-serif;}




/*  NAV  */

.logo_programme{
	width: 60%;
	height: auto;
	margin: auto;
	display: flex;
	justify-content: center;}

#logo{
	width: 30%;
	margin: 1.5em auto;}

nav ul{
	padding: 0;
	margin: 0;
  display: inline-flex;
  list-style: none;
  justify-content: center;}
    
nav{
	width: 60%;
	height: 4.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;}

ul li{
	padding: 1em;
	font-size: 1.6em;}

ul li a{
	text-decoration: none; color: #856666;}
ul li a:link{
	color: #856666;}
ul li a:after{
	display: block;
  content: '';
  border-bottom: solid 2px #856666;
  transform: scaleX(0);  
  transition: transform 200ms ease-out;}
ul li a:hover:after{
	transform: scaleX(1);}




/*  MAIN  */

main{
	width: 70%;
	margin: auto;}

strong{
	font-size: xx-large;}

span{
	font-size: x-large;}


/*  LES MARIES  */
#les_maries{
	text-align: center;
	margin: 3em auto;}
#les_maries img{
	width: 30%;
	border: 5px solid #856666;
	border-radius: 50%;}
#les_maries figcaption{
	margin-top: 1em;
	line-height: 1.2;}

/*  LES TEMOINS  */
#les_temoins{
	margin: 3em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;}
.temoins{
	text-align: center;}
.temoins img{
	width: 100%;
	border: 5px solid #856666;
	border-radius: 50%;}
.temoins figcaption{
	width: 80%;
	margin: auto;
	text-align: center;
	line-height: 1;
	margin-top: 0.8em;}

/*  LES DEMOISELLES & GARCON D'HONNEUR  */
#les_demoiselles_gars{
	width: 75%;
	margin: auto;
	display: flex;
	flex-direction: row;}
.demoiselles_gars{
	text-align: center;}
.demoiselles_gars img{
	width: 92%;
	border: 5px solid #856666;
	border-radius: 50%;}
.demoiselles_gars figcaption{
	width: 80%;
	margin: auto;
	text-align: center;
	line-height: 1;
	margin-top: 0.8em;}
#Laura{
	transform: rotate(17deg);}





/*  FORMULAIRE CONTACT  */
#Contacts{
	width: 80%;
	height: auto;
	margin: 2em auto;
	padding: 1.5em;
	background-color: rgba(133, 102, 102, 0.3);
	display: flex;
	flex-direction: row;
	justify-content: center;}
#text_contact{
  width: 50%;
  text-align: center;
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;}
form{
	width: 50%;
	margin: 0;
	padding-left: 1.5em;
	color: whitesmoke;
	background-color: rgba(133, 102, 102, 0.6);}







/*  FOOTER  */

footer{
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #856666;
	height: 5em;}

footer p{
	color: e5d0d0;
	margin: 0;
	display: flex;
	align-items: center;}




/*  RESPONSIVE 


2400 max
logo min 22%

 */


